venv/
__pycache__/
*.pyc
.DS_Store
runs/
!other/runs/
other/runs/**/epoch*.pt
training datasets/*
!training datasets/unified_dataset/
*.jpg
*.png
*.jpeg
!examples/*.jpg
!examples/*.png
!examples/*.jpeg



!training datasets/unified_dataset/**/*.jpg
!training datasets/unified_dataset/**/*.png
!training datasets/unified_dataset/**/*.jpeg
